extends ../layout

block content
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Home
            li.breadcrumb-item.active(aria-current="page") Furniture

    h2= title
    a.btn.btn-success.mb-2( href='/furniture/new')
        span.fa.fa-plus
        |  New Furniture Item
    table.table.table-sm.table-hover
        thead
            th Sort
            th Name
            th Description
            th Max Amount
            th Internal
        tbody#furnitureList
            for furniture in furnitures
                tr.clickable-row(
                    data-click-object='furniture'
                    data-click-id=furniture.id
                )
                    th.handle
                        span.fa.fa-bars
                    th= furniture.name
                    td= furniture.description
                    td= furniture.max_amount
                    td= furniture.internal ? 'Yes' : 'No'

append scripts
    script(src='/javascripts/furniture-sort.js')
    script(src='/javascripts/data-table.js')

