extends ../layout

block content
    if checkPermission('Hotel Liaison')
        a.btn.btn-success.mb-2( href='/furniture/new')
            span.fa.fa-plus
            |  New Furniture Item
    .table-responsive
        table.table.table-sm.table-hover.table-striped
            thead
                if checkPermission('Hotel Liaison')
                    th Sort
                th(style='min-width:250px') Name
                th Description
                th Max Amount
                th Internal
            tbody#furnitureList
                for furniture in furnitures

                    tr(class=checkPermission('Hotel Liaison')?'clickable-row':'')(
                        data-click-object='furniture'
                        data-click-id=furniture.id
                    )
                        if checkPermission('Hotel Liaison')
                            th.handle
                                span.fa.fa-bars
                        th= furniture.name
                        td= furniture.description
                        td= furniture.max_amount
                        td= furniture.internal ? 'Yes' : 'No'

append scripts
    script(src='/javascripts/furniture-sort.js')
    script(src='/javascripts/data-table.js')

