extends ../layout

block content
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item.active(aria-current="page") Home
    h2 Requests for #{activeUser.name}
    .alert.alert-info.alert-dismissible.fade.show
        p.my-1.
            Thanks for filling out this form. This will help us make sure that we're doing everything we can to allow you to run your game on time and seamlessly.
        p.my-1.
            Please select each of your functions that you are responsible for, and enter your furniture and food needs, or indicate that you have none.
        p.my-1.
             A map of the hotel function space is available at the  <a class='alert-link' href='#{config.app.interconBaseURL}/pages/hotellayout' target='_blank'>Hotel Layout</a> page
        button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;

    table.table.table-hover
        thead
            th Type
            th Event
            th Run
            th Room(s)
            th Request Entered
        tbody
            for run in runs
                tr.clickable-row(
                    data-click-object='requests'
                    data-click-id=run.event.id+'/'+run.id
                    class= (run.no_furniture || run.requests.length)?'table-success':'table-danger'
                )
                    td= humanize(run.event.category)
                    th= run.event.title
                    td= moment(run.starts_at).format('ddd, h:mm A')
                    td= _.pluck(run.rooms, 'name').join(', ')
                    td= (run.no_furniture || run.requests.length)?'Yes':'No'
                        a.btn.btn-sm.btn-outline-primary.mx-3.float-right(href='/requests/'+run.event.id+'/'+run.id)
                                        i.fa.fa-edit
                                        |  #{(run.no_furniture || run.requests.length)?'Edit':'Create'}

append scripts
    script(src='/javascripts/data-table.js')
